/*@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url(../fonts/Arial/ArialMT.eot);
    src: url(../fonts/Arial/ArialMT.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Arial/ArialMT.woff2) format("woff2"),
    url(../fonts/Arial/ArialMT.woff) format("woff"),
    url(../fonts/Arial/arial.ttf) format("truetype")
}*/


@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
    url(../fonts/Roboto/Roboto-Bold.woff2) format("woff2"),
    url(../fonts/Roboto/Roboto-Bold.woff) format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: auto;
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"),
    url(../fonts/Roboto/Roboto-Light.woff2) format("woff2"),
    url(../fonts/Roboto/Roboto-Light.woff) format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
    url(../fonts/Roboto/Roboto-Medium.woff2) format("woff2"),
    url(../fonts/Roboto/Roboto-Medium.woff) format("woff");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
p {
    margin: 0;
    padding: 0;
}
.fs-20 {
    font-size: 20px;
}
.fs-22 {
    font-size: 22px;
}
.fs-24 {
    font-size: 24px;
}
.text-blue {
    color: #1D266A;
}


/* header menu */
.header-menu {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 10px rgba(29, 38, 106, 0.1);
    backdrop-filter: blur(4px);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;
}
.header-menu a {
    color: #1D266A;
}
.header-btn {
    width: 120px;
    height: 40px;
    border: 1px solid #1D266A;
    border-radius: 5px;
}
.header-btn:hover {
    background-color: #1D266A;
    color: #fff;
}
/* top banner */
.top-banner {
    background-image: url("../images/top-banner.png");
    width: 100%;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 100px;
}
.top-banner .main-title {
    font-size: 62px;
    line-height: 120%;
    margin-top: 150px;
    margin-bottom: 25px;
}
.top-banner .main-info {
    line-height: 133.99%;
    max-width: 838px;
    margin-bottom: 40px;
}
/* app section */
.section-app {
    background-image: url(../images/section2-ellipse.png);
    background-position-x: 87px;
    background-position-y: 175px;
    background-repeat: no-repeat;
    padding-bottom: 310px;
}
.section-app .section-app-block {
    margin-top: 215px;
}
.section-app__text {
    line-height: 133.99%;
}
/* signup steps */
.signup-steps  {
    color: #1D266A;
}
.signup-steps .section-title {
    padding-bottom: 150px;
}
.signup-steps .signup-content {
    margin-bottom: 80px;
}
.step-block {
    min-height: 400px;
    height: 100%;
    position: relative;
    box-shadow: 0px 0px 18px rgba(29, 38, 106, 0.22);
    border-radius: 10px;
    padding-top: 85px;
}
.step-block h3 {
    font-size: 32px;
}
.step-block p {
    line-height: 32px;
}
.step-block__item {
    width: 132px;
    height: 132px;
    background: #1D266A;
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    line-height: 132px;
}
.step-block__item span {
    font-size: 53px;
    font-weight: bold;
}
.step-block .step-block__title {
    min-height: 100px;
}
.btn-darkblue {
    width: 244px;
    height: 68px;
    background-color: #1D266A;
    border-radius: 8px;
    line-height: 50px;
    color: #fff;
}
.btn-darkblue:hover {
    background-color: #fff;
    border: 1px solid #1D266A;
    color: #1D266A;
}
/* Section why */
.section-why {
    background-image: url("../images/section-why.png");
    background-position-x: right;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 470px;
    position: static;
}
.section-why__block {
    padding-top: 170px;
}
.why-block-img {
    position: absolute;
    right: 0;
}
.section-why__list {
    font-size: 24px;
}
.section-why__list li {
    margin-bottom: 20px;
}
.section-why__list .fa-check {
    font-size: 17px;
    color: #CD269E;
}
.section-why__text {
    max-width: 680px;
    width: 100%;
    line-height: 133.99%;
}
main .section-title {
    font-size: 50px;
    line-height: 120%;
}
/* section matakarar */
.section-matakarar {
    width: 100%;
    padding-bottom: 140px;
    position: relative;
}
.section-matakarar h3 {
    margin-bottom: 85px;
}
.matakarar-block {
    min-height: 310px;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px rgba(29, 38, 106, 0.16);
    border-radius: 10px;
    padding: 90px 45px 75px;
}
.matakarar-block__item {
    width: 132px;
    height: 132px;
    border-radius: 100%;
    position: absolute;
    top: -66px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 132px;
}
.item-1 {
    background-color: #FFF9E9;
}
.item-2 {
    background-color: #E2FFFD;
}
.item-3 {
    background-color: #F7F1FF;
}
.item-4 {
    background-color: #FFEEF5;
}
.item-5 {
    background-color: #E3F1FF;
}
.matakarar-block__text {
    line-height: 133.99%;
}
.matakarar-imgblock {
    position: absolute;
    left: 0;
    bottom: -146px;
    z-index: -1;
    right: 0;
}
.matakarar-imgblock img {
    max-width: 100%;
}
/* FOOTER */
.footer {
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 260px 0 42px;
}
.footer ul {
    margin: 0;
    padding: 0;
}
.footer li {
    margin-bottom: 10px;
}
.footer a {
    color: #fff;
}
.footer .footer-copyright {
    padding-top: 125px;
}
.footer .footer-follow-block {
    max-width: 120px;
    margin-left: auto;
}
/* responsive */
@media (min-width: 1680px){
    .wrapper {
        max-width: 1650px;
    }
}
@media (max-width: 1700px) {
    .wrapper {
        max-width: 1450px;
    }
    .why-block-img {
        position: absolute;
        right: unset;
    }
}
@media (max-width: 1400px) {
    .wrapper {
        max-width: 1250px;
    }
    .top-banner {
        padding-top: 100px;
    }
    .fs-24 {
        font-size: 20px;
    }
    .why-block-img {
        position: absolute;
        right: unset;
    }
    .signup-steps .step-block {
        padding-top: 60px;
    }
    .signup-steps .step-block__item {
        width: 100px;
        height: 100px;
        line-height: 100px;
        top: -50px;
    }
    .footer {
        padding: 180px 0 42px;
    }
    .footer-logo {
        width: 300px;
    }
}
@media (max-width: 1200px) {
    .wrapper {
        max-width: 1050px;
    }
    .fs-20 {
        font-size: 18px;
    }
    .fs-22 {
        font-size: 20px;
    }
    .fs-24 {
        font-size: 20px;
    }
    .top-banner .main-title {
        margin-top: 0;
        font-size: 54px;
    }
    .wrapper .section-title {
        font-size: 37px;
    }
    .section-app {
        background-position-y: unset;
        margin-top: 60px;
        padding-bottom: 200px;
    }
    .section-why {
        padding-bottom: 300px;
    }
    .step-block h3 {
        font-size: 22px;
        padding: 0 10px;
    }
    .why-block-img {
        position: absolute;
        right: unset;
    }
}
@media (max-width: 992px) {
    .wrapper {
        max-width: 910px;
    }
    .top-banner {
        padding-top: 100px;
    }
    .top-banner .main-title {
        margin-top: 0;
        font-size: 40px;
    }
    .section-app .section-app__text {
        font-size: 20px;
    }
    .signup-steps .section-title {
        padding-bottom: 80px;
    }
    .wrapper .section-title {
        font-size: 28px;
    }
    .section-why__list {
        font-size: 18px;
    }
    .section-why {
        padding-bottom: 230px;
    }
    .section-app {
        padding-bottom: 230px;
        margin-bottom: 30px;
    }
    .why-block-img {
        position: absolute;
        right: unset;
    }
    .fs-24, .fs-20 {
        font-size: 16px;
    }
    .signup-steps p {
        line-height: 19px;
    }
    .section-matakarar .matakarar-block {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-matakarar .matakarar-block p {
        font-size: 15px;
    }
    .footer img {
        width: 250px;
        height: 50px;
    }
    .footer a {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .mb-50px {
        margin-bottom: 70px;
    }
    .wrapper {
        max-width: 670px;
    }
    .fs-22 {
        font-size: 18px;
    }
    .top-banner {
        padding-top: 150px;
        padding-bottom: 20px;
    }
    .section-app  {
        margin-bottom: 0;
        padding: 0;
    }
    .wrapper .section-title {
        font-size: 25px;
    }
    .header-menu img {
        width: 180px;
        height: 50px;
    }
    .signup-steps {
        margin-bottom: 50px;
    }
    .signup-steps .step-block {
        min-height: 220px;
        height: 100%;
    }
    .signup-steps .step-block__item  {
        width: 100px;
        height: 100px;
        line-height: 100px;
    }
    .signup-steps .step-block__title {
        min-height: 50px;
    }
    .signup-steps .signup-content {
        margin-bottom: 0;
    }
    .section-why {
        padding-bottom: 0;
    }
    .section-why__block {
        padding-top: 0;
    }
    .why-block-img {
        position: static;
    }
    .section-app {
        background-position-x: unset;
    }
    .section-app .row {
        flex-direction: column-reverse;
    }
    .section-app .section-app-block {
        margin-top: 0;
    }
    .section-app .img-section2 {
        max-width: 400px;
        width: 100%;
    }
    .section-matakarar {
        padding-bottom: 0;
    }
    .section-matakarar .matakarar-block {
        min-height: 80px;
        padding: 70px 35px 0;
    }
    .matakarar-block .matakarar-block__item {
        width: 100px;
        height: 100px;
        line-height: 100px;
        top: -55px;
    }
    .footer {
        padding: 100px 0 20px;
    }
    .footer .wrapper {
        padding-bottom: 15px;
    }
    .footer .footer-copyright {
        padding-top: 0;
    }
}
@media (max-width: 576px) {
    .wrapper {
        max-width: 520px;
    }
    .wrapper .section-title {
        font-size: 22px;
    }
    .fs-20, .fs-22, .fs-24 {
        font-size: 16px;
    }
    .mobile-text-center {
        text-align: center;
    }
    .mobile-mb30px {
        margin-bottom: 45px;
    }
    .mobile-mb20px {
        margin-bottom: 15px;
    }
    .mobile-mb80px {
        margin-bottom: 80px;
    }
    .mobile-mb75px {
        margin-bottom: 150px;
    }
    .mobile-column {
        flex-direction: column;
    }
    .top-banner {
        padding-bottom: 100px;
        margin-bottom: 0;
    }
    .top-banner .main-title {
        font-size: 22px;
    }
    .header-menu {
        padding: 10px 0;
    }
    .header-menu div {
        justify-content: center;
    }
    .section-app {
        background-image: unset;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .section-app .section-app-block {
        margin-top: 50px;
    }
    .signup-steps .step-block {
        min-height: 150px;
        height: 100%;
        margin-bottom: 40px;
    }
    .signup-steps .section-title {
        padding-bottom: 60px;
    }
    .step-block .step-block__title {
        min-height: 40px;
    }
    .signup-steps .step-block__item {
        width: 60px;
        height: 60px;
        line-height: 60px;
        top: -35px;
    }
    .signup-steps .step-block__item span {
        font-size: 25px;
    }
    .signup-steps .step-block h3 {
        font-size: 16px;
    }
    .signup-steps .step-block p {
        line-height: 20px;
    }
    .signup-steps .signup-content {
        margin-bottom: 0;
    }
    .section-why img {
        height: 350px;
    }
    .section-matakarar {
        padding-bottom: 0;
    }
    .section-matakarar .matakarar-block {
        min-height: 80px;
        padding: 70px 35px 0;
    }
    .matakarar-imgblock {
        bottom: -146px;
    }
    .footer {
        padding: 70px 0 30px;
    }
    .footer .wrapper li {
        margin-bottom: 0;
    }
    .footer .wrapper li a {
        font-size: 15px;
    }
    .footer .footer-logo {
        height: 30px;
    }
    .footer .footer-follow-block {
        margin-left: unset;
    }
}
